@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/** Resets **/
:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2,
p {
  margin: 0;
}

/** Base styles **/
:root {
  --main: hsl(0, 0%, 100%);
  --main-copy: hsla(0, 0%, 100%, 0.75);
  --main-stat-headings: hsla(0, 0%, 100%, 0.6);

  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);

  --accent: hsl(277, 64%, 61%);
  --img-filter: hsl(277, 84%, 31%);

  --font-family: "Inter", sans-serif;
  --font-family-stats: "Lexend Deca", sans-serif;
  --font-copy: 15px;
}

body {
  background-color: var(--main-bg);
  color: var(--main-copy);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  flex: 1;
  display: grid;
  place-content: center;
  margin: 10vh 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 93%;
  max-width: 570px;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (min-width: 1300px) {
  .card {
    flex-direction: row-reverse;
    max-width: 1250px;
  }

  .card > * {
    flex: 1;
  }
}

.card__image {
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  position: relative;
}

@media screen and (min-width: 1300px) {
  .card__image {
    max-width: unset;
  }
}

.card__image::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--img-filter);
  opacity: 0.5;
  z-index: 1;
}

.card__prose {
  color: var(--main-copy);
  background-color: var(--card-bg);
  padding: 2.625rem;
  text-align: center;
}

@media screen and (min-width: 1300px) {
  .card__prose {
    padding: 4.5rem;
    text-align: unset;
  }
}

.card__title {
  color: var(--main);
}

@media screen and (min-width: 1300px) {
  .card__title {
    font-size: 2.3rem;
    max-width: 20ch;
  }
}

.accent {
  color: var(--accent);
}

.card__copy {
  font-size: 15px;
  line-height: 1.6;
  margin-top: 1.375rem;
}

.card__stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2.5rem;
}

@media screen and (min-width: 1300px) {
  .card__body {
    max-width: 35ch;
  }

  .card__stats {
    flex-direction: row;
    margin-top: 4.5rem;
  }
}

.card__stat {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--main);
}

.card__stat-figure {
  font-size: 1.2rem;
  font-weight: 700;
}

.card__stat-heading {
  color: var(--main-stat-headings);
  font-family: var(--font-family-stats);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.attribution {
  padding: 1.25rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
